<div class="container container--fluid">
    <div class="row">
        <div class="col-sm">
            <div class="row">
                <div class="col-3 image-box">
                    <img [src]="img" [attr.data-message-id]="defaultImage" id="img-poke" class="image-box--center" />
                </div>
                <div class="col-9 poke-info">
                    <div class="number__text">#{{pokeId}}</div>
                    <div class="name__text">{{pokeName}}</div>
                    <div class="jp-name__text">{{pokeJpName}}</div>
                    <div class="genus__text">{{genus}}</div>
                    <div class="d-flex flex-row">
                        <div class="p-2"><button class="btn-info--gray" btnImage (click)="this.toggleImage(defaultImage)" >TIPO A</button></div>
                        <div class="p-2"><button class="btn-info--gray" btnImage (click)="this.toggleImage(shinyImage)" >TIPO B</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="flavor-text">
                <p>{{flavorText}}</p>
            </div>
        </div>
    </div>
</div>