.mat-tab-header, .mat-tab-nav-bar{
    border:none;
}

.mat-tab-labels {
    .mat-tab-label-active{
        background-color: #EEEEEE;
        opacity: 1;
        letter-spacing: 1.4px;
        font: 700 14px/19px Roboto;
    }
}

.mat-tab-label {
    width:50%;
    margin:0;
    padding: 0 5px;
    color:#AAAAAA;
    background-color: #FAFAFA;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font: 500 14px/19px Roboto;
    letter-spacing: 1.4px;
    color: #AAAAAA;
    text-transform: uppercase;
    opacity: 1;
}

.mat-tab-label-active {
    color:#611829;
    background-color: #EEEEEE;
    :before,
    :after {
        content: "";
        position: absolute;
        height: 48px;
        width: 100%;
        bottom: 0;
    }
    :after {
        right: -100%;
        border-radius: 0 0 0 7px;
        -moz-border-radius: 0 0 0 7px;
        -webkit-border-radius: 0 0 0 7px;
        -webkit-box-shadow: -7px 0 0 0 #FAFAFA;
        box-shadow: -7px 0 0 0 #FAFAFA;
    }
    :before {
        left: -100%;
        border-radius: 0 0 7px 0;
        -moz-border-radius: 0 0 7px 0;
        -webkit-border-radius: 0 0 7px 0;
        -webkit-box-shadow: 7px 0 0 0 #FAFAFA;
        box-shadow: 7px 0 0 0 #FAFAFA;
    }
}

.species{
    .mat-tab-labels{
        background-color: #EEEEEE;
        height: 30px;
    }
    .mat-tab-label {
        margin: 0;
        height: 30px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        text-align: center;
        font: 500 10px/13px Roboto;
        letter-spacing: 1.25px;
        color: #999999;
        background-color: #EEEEEE;
        opacity: 1;
        min-width: 126px;
        :after{
            content: "";
            position: absolute;
            width: 1px;
            height: 20px;
            background-color: #CCCCCC;
            right: 0%;
        }
        
    }
    .mat-tab-label-active {
        background: transparent linear-gradient(180deg, #EEEEEE 0%, #FAFAFA 100%) 0% 0% no-repeat padding-box;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        text-align: center;
        font: 900 10px/13px Roboto;
        letter-spacing: 1.25px;
        color: #611829;
        opacity: 1;
        border-left: 0px solid transparent;
        :before,
        :after {
            content: "";
            position: absolute;
            height: 30px;
            width: 100%;
            bottom: 0;
        }
        :after {
            right: -100%;
            border-radius: 0 0 0 5px;
            -moz-border-radius: 0 0 0 5px;
            -webkit-border-radius: 0 0 0 5px;
            -webkit-box-shadow: -5px 0 0 0 #EEEEEE;
            box-shadow: -5px 0 0 0 #EEEEEE;
        }
        :before {
            left: -100%;
            border-radius: 0 0 5px 0;
            -moz-border-radius: 0 0 5px 0;
            -webkit-border-radius: 0 0 5px 0;
            -webkit-box-shadow: 5px 0 0 0 #EEEEEE;
            box-shadow: 5px 0 0 0 #EEEEEE;
        }
    }
    .mat-tab-body-wrapper{
        background-color: #FAFAFA;
    }
    .mat-tab-header {
        color: #EEEEEE;
    }
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color:transparent;
}